{{ form_start(form) }}
    {{ form_errors(form) }}
    
    <div class="mb-3">
        {{ form_row(form.nom) }}
    </div>
    
    <div class="mb-3">
        {{ form_row(form.description) }}
    </div>
    
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
