{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}
   <div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>

			</tr>
		</thead>
		<tbody>
			
				<tr>
					<th scope="row">ID</th>
					<td>{{ produit.id }}</td>
				</tr>
				<tr>
					<th scope="row">Nom produit</th>
					<td>{{ produit.name }}</td>
				</tr>
				<tr>
					<th scope="row">Prix</th>
					<td>{{ produit.price }}</td>
				</tr>
				<tr>
					<th scope="row">Quantite</th>
					<td>{{ produit.stock }}</td>
				</tr>
				<tr>
					<th scope="row">Cree le </th>
					<td>{{ produit.cteatedAt | date('d/m/Y') }}</td>
				</tr>
			
		</tbody>
	</table>
    </div>
{% endblock %}
