{{ form_start(form) }}
    {{ form_errors(form) }}
    
    <div class="mb-3">
        {{ form_row(form.titre) }}
    </div>
    
    <div class="mb-3">
        {{ form_row(form.ISBN) }}
    </div>
    
    <div class="mb-3 form-check">
        {{ form_widget(form.disponible) }}
        {{ form_label(form.disponible) }}
    </div>
    
    <div class="mb-3">
        {{ form_row(form.auteur) }}
    </div>
    
    <div class="mb-3">
        {{ form_row(form.genre) }}
    </div>
    
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
